## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
*.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:


# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref

# knitr
*-concordance.tex
#*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# WinEdt
*.bak
*.sav
/Project/Report/master.pdf
/Courses/Miniprojects/RV/Report/master.pdf
/Courses/Miniprojects/NSC/Report/master.pdf
/Project/Report/master.tps
/Project/Report/*.tcp
/Project/Report/*.tps
*.tmp
*.tcp

*.fuse_hidden*


# ISE webpack
*.log
*.svf
*.scr
*.cmd
*.bak
*.lso
*.elf
*.ace
*~
*#
*.swp
*.ini
*.html
*.vhi
*.wdb
*.stx
*.xmsgs
*.xreport
*.exe
*.cmd_log
*_beh.prj
*.ncd
isim
db
incremental_db
work
*.cr.mti
vsim.wlf
transcript
webtalk.log
webtalk_impact.xml
pepExtractor.prj
impact.xsl
impact_impact.xwbt
PC/xil
*.projectmgr
par_usage_statistics.html
*.bit
*.ng*
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.pcf
*.*twx
*.xrpt
*_pn.xml
*_usage.xml
*_summary.xml
*.pad
*.par
*.prj
*.syr
*.twr
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*_pad.txt
*_pad.csv
*_synthesis.nlf
*_synthesis.vhd
*.gise
*.mrp
*.xbcd
!bscan_spi_lx9.bit
!main.bit
*.bmm
*.xdl
iseconfig/

# C object files output
*.o
obc/pure_c_test/build/
obc/build/
*.hex
*.d
*.lst
*.eep
*.lss
*.map
*.sym

#ignore OS noise
*.~vsdx
Thumbs.db
.DS_Store


# Ctags files
.tags*


# Archive files
*.rar

# Folders
.tmp/

# Sublime Text
*.sublime-workspace
*.sublime-project

# Extra
masterlocal.pdf
AAUsimpletheme.pdf

*.mp3
*.wav
*.pyc
*.h5

warsaw/
IITD_Database/
diagnostics/
database.mat
database_segmented.mat
normalised_iris/

Project/code/saved_models/iris_cnn_test.h5